<form action='/sessions' method="post">
  <label for="email">
    Email: <input type="email" name="email">
  </label>
  <label for="password">
    Password: <input type="password" name="password">
  </label>
  <button type="submit" name="Sign in">Sign in</button>
</form>

<a href="/users/recover">I forgot my password</a>
