<!DOCTYPE html>
<html>
<h1>Saved Links</h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <h3>Title: <%= link.title %></h3>
      <p>URL: <a href="<%= link.url %>" target="_blank"><%= link.url %></a></p>
      <p>Tag: <%= link.tags.map(&:name).join %></p>
    </li>
  <% end %>
</ul>

<a href="/links/new">Add a link?</a>

</html>
