<!DOCTYPE html>
<html>
  <head>
    <link href="/styles.css" type="text/css" rel="stylesheet"/>
    <title> Bookmark Manager</title>
  </head>

  <body>

    <% if current_user %>
    <header align = "right">
      <div >
        <form action="/sessions" method="post">
          <label for="Sign out">Signed in as: <%= current_user.username %></label>
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Sign out">
        </form>
      </div>
    </header>
    <% end %>

    <% if flash[:errors] %>
      <div id='errors'><%= flash[:errors] %></div>
    <% end %>

    <% if flash[:notice] %>
      <div id='notice'><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>

  </body>
</html>
